.search-bar {
  position: relative;
  z-index: 10;
  color: #333;
  padding: 7px 10px;
  border-radius: 10px;

  border: none;
  margin-top: 10px;
  min-width: 300px;
  min-height: 40px;
  padding-left: 39px;
  background-image: url('/search.svg');
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: 8px center;
}

.search-result-box {
  position: relative;
  background-color: white;
  z-index: 10;
  color: #333;
  padding: 10px;
  border-radius: 10px;
  margin-top: 4px;
  position: absolute;
  max-height: 300px;
  overflow-y: scroll;
}
.search-result-box > div {
  display: flex;
  margin-top: 10px;
}

.search-result-box > div > .search-result-box-text {
  margin-left: 12px;
  width: 230px;
}

.search-result-box > div > div > h4 {
  margin-top: 0;
}

.search-result-box-text > p {
  margin-top: 1px;
}

.text-center {
  text-align: center;
}

h4 {
  margin-top: 0;
  margin-bottom: 0;
}

.no-result {
  color: rgb(92, 92, 92);
}
