.dark-mode-small-view > button.social-link {
  padding: 5px 10px;
  margin-right: 5px;

  height: fit-content;
}

.dark-mode-small-view {
  line-height: 29px;
}
@media screen and (min-width: 768px) {
  .dark-mode-small-view {
    display: none;
  }
}
